@model MvcApplicationDZ220614.Models.Movies

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movies</legend>
    <img src="@Html.DisplayFor(model => model.ImageUrl)" width="500" height="700" />
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Actors) :
        @foreach (MvcApplicationDZ220614.Models.Actors aa in Model.Actors)
          {
              <div>@aa.Name</div>
          }
    </div>
       
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
